h1 {
    color:blue; 
    font-size: 50px;
}


h2 {
    color:chocolate;
    font-size: 35px;
}

body {
    background-color: rgb(24, 165, 111);
}

.Skills{
    color:rgb(173, 22, 148);
    height: 200px;
    width: 400px;
}

#main-photo{
    border-radius: 10px;
    box-shadow: 10px 5px 5px;
}